@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Junge&family=Kite+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: "Junge";
    src: url("../components/fonts/Junge/Junge-Regular.ttf");
}
@font-face {
    font-family: "Work_Sans";
    src: url("../components/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Inter";
    src: url("../components/fonts/Inter/Inter-VariableFont_slntwght.ttf");
}
@font-face {
    font-family: "Kite_One";
    src: url("../components/fonts/Kite_One/KiteOne-Regular.ttf");
}

@layer components{
   
    .logo-container{
        /* cutom border image from: https://kovart.github.io/dashed-border-generator/ */
        /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23CF903FFF' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='15' stroke-linecap='square'/%3e%3c/svg%3e"); */
    }
    .logo{
        position: relative;
        width: 200px;
        top: 15px;
    }
    .navbarLink {
        @apply hover:text-ijele_gold;
        color: #153B4F; /* Set text color */
        text-decoration: none; /* Remove underline from links */
        padding: 6px; 
        border-radius: 5px; 
        font-family: "Junge", cursive; 
    }
    
    .search-nav-links{
        @apply rounded-md px-3 py-2 text-sm font-kite_one font-kite_one hover:text-ijele_gold
    }

    .sidebar-container {
        float: right;
        @apply bg-ijele_teal min-h-screen w-80 sticky top-0;
    }

    .sidebar-inputfield {
        @apply w-1/2 rounded-lg h-8 p-2 m-2 bg-ijele_cream;
       
    }
    .sidebar-container h2 {
        font-size: large;
        @apply text-ijele_cream
    }
    .sidebar-container p {
        font-size: small;
        font-family: "Junge" ;
        color: #334E5C;
    }
    .sidebar-container h4 {
        @apply font-inter font-medium text-[#334E5C] text-sm pr-2 pb-2 mb-2 border-b border-ijele_teal w-full
    }
    .sidebar-container label {
        @apply text-sm font-kite_one text-ijele_navy pl-2
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}